.add-btn {
  margin: 10px;
}

.edit-btn, .delete-btn {
  margin-left: 30px;
}

.selected {
  background-color: cadetblue !important;
  color: white !important;
}

.new-client {
  color: darkslategray !important;
  font-weight: bold !important;
  /*background-color: beige !important;*/
}
