<p-blockUI [blocked]="loading"></p-blockUI>

<p-button label="Добавить + " class="add-btn" (onClick)="add()"></p-button>

<p-table [value]="clients"
         [columns]="cols"
         selectionMode="single"
         [customSort]="true"
         [lazy]="true"
         (onLazyLoad)="loadLazy($event)"
         [paginator]="true"
         [rows]="10"
         [totalRecords]="totalRecords"
         [loading]="loading">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th colspan="2">
        <input type="text" pInputText [(ngModel)]="searchSurname"
               placeholder="Поиск по фамилии" style="width:85%; margin-right: 5px;">
        <p-button (click)="filter(nameCols[0], searchSurname)" icon="pi pi-search"></p-button>
      </th>

      <th colspan="2">
        <input type="text" pInputText [(ngModel)]="searchName"
               placeholder="Поиск по имени" style="width:85%; margin-right: 5px;">
        <p-button (click)="filter(nameCols[1], searchName)" icon="pi pi-search"></p-button>
      </th>

      <th colspan="2">
        <input type="text" pInputText [(ngModel)]="searchPat"
               placeholder="Поиск по отчеству" style="width:85%; margin-right: 5px;">
        <p-button (click)="filter(nameCols[2], searchPat)" icon="pi pi-search"></p-button>
      </th>
    </tr>
    <tr>
      <!--1-->
      <!--<th [pSortableColumn]="columns[0].field">-->
      <!--{{columns[0].header}}-->
      <!--<p-sortIcon [field]="columns[0].field"></p-sortIcon>-->
      <!--</th>-->

      <th *ngFor="let col of columns" [pSortableColumn]="col.field" (click)="sort(col.field)">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th>Действия</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr class="tRow" [class.selected]="rowData===selectedClient" (click)="onSelect(rowData)">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <td>
        <p-button [disabled]="rowData!=selectedClient" class="edit-btn" (click)="edit(rowData.id)"
                  label="..."></p-button>
        <p-button [disabled]="rowData!=selectedClient" class="delete-btn" (click)="confirmForDelete(rowData.id)"
                  label="-"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!--added client-->
<p-table *ngIf="addedClients"
         [value]="addedClients"
         [columns]="cols"
         selectionMode="single"
         [rows]="1"
         [totalRecords]="1">
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr class="tRow new-client" [class.selected]="rowData===selectedClient" (click)="onSelect(rowData)">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <td>
        <p-button [disabled]="rowData!=selectedClient" class="edit-btn" (click)="edit(rowData.id)"
                  label="..."></p-button>
        <p-button [disabled]="rowData!=selectedClient" class="delete-btn" (click)="confirmForDelete(rowData.id)"
                  label="-"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog></p-confirmDialog>

<app-edit-client *ngIf="header" (onChanged)="onChanged($event)"
                 (newClientAdded)="newClientAdded($event)"
                 (clientEdited)="clientEdited($event)"
                 [header]="header" [EDITEMODE]="EDITEMODE"
                 [client_detail_id]="client_detail_id" [display]="display"></app-edit-client>

